/** Basic CSS **/

body{
  font-weight: 300;
  font-size: 2em;
  position: relative;
  background-color: #ffffff;
  font-size: 16px;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

.main {
	padding: 30px 0;
}

/** Header - Nav **/

header .navbar {
	padding-top: 20px;
	margin-bottom: 0;
}

header .navbar-default {
	background-color: #ffffff;
	border: none;
	border-radius: 0;
	padding: 10px 0;
}

header .menu li > a {
	color: #006837;
	font-weight: italic;
}

/**  Footer **/

footer {
  font-size: .8em;
  padding: 20px 0 40px 0;
  border-top: 1px solid #e5e5e5;
}

footer .navbar {
	margin-bottom: 0;
	min-height: 0;
}